.all-posts-cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  justify-content: center;
  @media (max-width: 800px) {
    flex-direction: column;
    max-width: 80%;
    margin: 10px auto;
    align-items: center;
  }
}

.c-post__wrapper {
  height: auto;
  width: 400px;
}

.dataPiece-sml {
  height: 150px;
  max-width: 175px;
  border-radius: 5px;
  margin-top: 25px;
}

.search-component {
  position: absolute;
  top: 15px;
  right: 15px;
}

.markdown-li {
  background: red;
}

.all-post-title {
  font-size: 4rem;
  text-align: center;
}

.c-single-post__wrapper {
  width: 50vw;
  min-width: 500px;
  text-align: justify;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  margin: 25px auto;
  padding: 10px 25px;

  position: relative;
  background: $light-main-purple;
  h1 {
    @include flex-center;

    font-size: 3rem;
    text-decoration: underline;
  }

  h2 {
    font-size: 1.5rem;
    font-style: italic;
  }

  p {
    font-size: 1.5rem;
  }
}

.single-post-img {
  display: flex;
  justify-content: center;
  padding: 12px;

  img {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    max-height: 250px;
    text-align: center;
  }
}
