.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: 40vw;
	border: 2px solid black;
	border-radius: 8px;
	fieldset {
		border: none;
	}
}

.login-wrapper,
.create-account-wrapper {
	text-align: center;
	width: 50%;
    padding-bottom: 25px;
    h1, h2 {
		margin-bottom: -15px;
	}
}

.login-wrapper {
	border-bottom: 1px solid black;
}


.form {
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	justify-content: center;
	align-items: center;
}

button {
	width: 70%;
	text-align: center;
}

input {
	width: 90%;
}
