.post-wrapper {
  border: 1px solid black;
  border-radius: 8px;
  min-height: 20vh;
  max-height: 40vh;
  min-width: 20vw;
  max-width: 40vw;
  padding: 10px 25px;
  box-shadow: 0 0 5px 3px $light-purple;
  color: $main-white;
  background-color: $dark-blue;
  margin: 8px;
  text-align: center;
}

.dataPiece-sml {
  height: 150px;
  max-width: 175px;
  border-radius: 5px;
}
