.c-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: $main-white;
  font-weight: bold;
  letter-spacing: 2.5px;
  font-size: 15px;
  background-color: $main-blue;
  box-shadow: 0 2px 2px $black-shadow;

  height: $navbar-height;
  padding: 0 $padding-at-small;
  z-index: 20;

  @media #{$at-bp-medium} {
    padding: 0 $padding-at-medium;
  }

  @media #{$at-bp-large} {
    padding: 0 $padding-at-large;
  }
}

.c-navbar__heading-container {
  @include flex-center;
  cursor: pointer;

  h3 {
    margin-left: 30px;
  }

  img {
    color: white;
  }
}

.c-navbar__links {
  display: flex;

  a {
    @include flex-center;

    text-align: center;
    line-height: 2.5;

    &:not(:last-child) {
      margin-right: 50px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-navbar__heading {
  font-size: 1.5em;

  @media (max-width: 900px) {
    display: none;
  }
}
