.m-markdown-cont {
  background: $main-white;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px 25px;
  min-height: 500px;
  
  
  h1 {
	// some style
  }

  h2 {
    // some style
  }

  code {
    // some style
	// white-space: pre-line;
	white-space: break-spaces;
  }

  ol {
	list-style-type: upper-alpha;
  }

  blockquote {
	  border-radius: 8px;
	  background: $main-almond;
	  padding: 5px;
	  color: $font-pop;
  }
}
