@keyframes move-in {
  to {
    transform: translateY(25px);
  }
}

.c-home__heading-container {
  position: absolute;
  margin: 0 $padding-at-small;
  margin-top: 170px;

  font-family: Montserrat;
  line-height: 1.6;

  animation: move-in 0.5s forwards;

  @media #{$at-bp-medium} {
    padding: 0 $padding-at-medium;
  }

  @media #{$at-bp-large} {
    padding: 0 $padding-at-large;
  }

  h1 {
    font-size: 5.5rem;
    font-weight: 800;
  }

  h2 {
    font-size: 4rem;
    font-weight: 400;
  }

  h3 {
    display: flex;
    align-items: center;

    font-size: 2.5rem;
    margin-top: 60px;
    margin-left: 8px;

    width: 100%;
    cursor: pointer;

    img {
      margin-left: 35px;
    }
  }
}

.c-home__icon-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  right: $padding-at-small;
  top: 200px;

  height: 400px;
  width: 540px;

  @media #{$at-bp-medium} {
    right: $padding-at-medium;
  }

  @media #{$at-bp-large} {
    right: $padding-at-large;
  }

  .c-home__icon-square {
    @include flex-center;

    width: calc(100% / 3);
    height: 50%;
  }

  .c-home__icon {
    transition: transform 0.6s ease;
    cursor: pointer;
  }
}
