@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
* {
	box-sizing: border-box;
}
.body {
	font-family: "Muli", sans-serif;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
	position: relative;
}

.search-component {
	position: absolute;
	top: 0;
}

.container-1 {
	display: flex;
	width: 90vw;
}
.panel {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 20vh;
	border-radius: 50px;
	color: white;
	cursor: pointer;
	// flex: 0.5;
	margin: 10px;
	width: 200px;
	position: relative;
	transition: all 0.7s ease-in;
}
.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 20px;
	margin: 0;
	opacity: 0;
}
.panel.active {
	// flex: 5;
	height: 400px;
	width: 400px;
}
.panel.active h3 {
	opacity: 1;
	transition: opacity 0.3s ease-in 0.7s;
}
@media (max-width: 480px) {
	.container {
		width: 100vw;
	}
	.panel:nth-of-type(4),
	.panel:nth-of-type(5) {
		display: none;
	}
}