@keyframes move-in {
  to {
    transform: translateY(25px);
  }
}

@keyframes floating {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-60px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translateY(0px);
  }
}

.c-home_container {
  display: flex;
  align-items: flex-start;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.c-home__heading-container {
  padding-top: 20px;
  margin: 75px 50px 0;
  font-family: Montserrat;
  line-height: 1.6;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  animation: floating 4s ease-out infinite;
  @media #{$at-bp-small} {
    margin-right: auto;
    margin-left: auto;
  }

  h1 {
    font-size: 5rem;
    font-weight: 800;
    @media #{$at-bp-small} {
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 3.5rem;
    font-weight: 400;
    @media #{$at-bp-small} {
      font-size: 2.25rem;
    }
  }

  h3 {
    display: flex;
    align-items: center;

    font-size: 2.5rem;
    margin: 60px 8px 15px;

    width: 100%;
    cursor: pointer;
    transition: all 0.5s ease;
    &:hover {
      transform: translateX(30px);
    }
    img {
      margin-left: 35px;
    }
  }
}

.c-home__icon-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  right: $padding-at-small;
  margin: 0 auto;
  margin-top: 100px;

  height: 400px;
  width: 540px;

  @media #{$at-bp-medium} {
    right: $padding-at-medium;
  }

  @media #{$at-bp-large} {
    right: $padding-at-large;
  }

  .c-home__icon-square {
    @include flex-center;

    width: calc(100% / 3);
  }

  .c-home__icon {
    transition: transform 0.6s ease;
    cursor: pointer;
  }
}
