/* ==========================================================================
   Main Layout colors
   ========================================================================== */

$main-purple: #a2abe4;
$main-blue: #031d44;
$main-white: #f8f8ff;
$main-black: #020202;
$light-main-purple: #b2a5f0;
$dark-main-purple: #9356d6;

$light-purple: #8661c1;
$dark-blue: #3220a0;
$black-shadow: #4b515d;

$offwhite: ghostwhite;
$dark-gray: #c1c1c1;
$gray: #686963;
$main-bistre: #846c5b;
$main-yellow: #ffeb00;
$main-almond: #f1e3d3;
$main: #ad84f0;
$highlight: #9200fa;
$font-pop: #3100fa;
$shade-main: #c175fa;
