/* ==========================================================================
   Main Layout colors
   ========================================================================== */

$main-purple: #A2ABE4;
$light-main-purple: #B2A5F0;
$dark-main-purple: #9356D6;
$main-blue: #3220A0;
$main-white: #F8F8FF;
$main-black: #020202;

$light-purple: #8661C1;
$dark-blue: #031D44;
$black-shadow: #4B515D

// $offwhite: ghostwhite;
// $dark-gray: #C1C1C1;
// $main: #Eb5E28;
// $gray: #686963;
// $main-bistre: #846C5b;
// $main-yellow: #ffEb00;
// $main-almond: #f1E3D3;
// $main: #AD84F0;
// $highlight: #9200FA;
// $font-pop: #3100FA;
// $shade-main: #C175FA;
