$dark-gray: #c1c1c1;

$black: #020202;
$offwhite: ghostwhite;

$light-purple: rgba(162, 171, 228, 0.865983893557423);
$main-purple: #3220a0;
$main: #eb5e28;

$main-white: ghostwhite;
$main-amethyst: #8661c1;
$main-oxford: #031d44;
$gray: #686963;
$main-bistre: #846c5b;
$main-yellow: #ffeb00;

$main-almond: #f1e3d3;
// $main: #AD84F0;
// $highlight: #9200FA;
// $font: ghostwhite;
// $font-pop: #3100FA;
// $light-main: #B2A5F0;
// $dark-main: #9356D6;
// $shade-main: #C175FA;
