html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  // setting the font size 10px globally so that we can use rem to change font-size elsewhere
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button, input {
  background-color: $light-purple;
  border: 2px solid $main-purple;
  padding: 10px 18px;
  border-radius: 8px;
  color: $main-purple;
  font-weight: bold;
  letter-spacing: 0.15rem;
}

input[type="text"]{
  padding: 10px;
  line-height: 18px;
}

input {
  margin: 8px;
}

::placeholder {
  color: black;
  font-style: italic;
}

* {
  box-sizing: border-box;
}
