.post-wrapper {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 25px;
  box-shadow: 0 0 5px 3px $light-purple;
  color: $main-white;
  background-color: $main-blue;
  margin: 8px;
  text-align: center;
  height: auto;
  overflow: hidden;

  @media (max-width: 800px) {
    img {
      display: none;
    }
  }
}
