@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}
.search-container {
  @include flex-center;
  flex-direction: column;

  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
  height: 50px;
}

.search {
  position: absolute;
  top: -10px;
  right: 0;
}

.search .input-search {
  background-color: white;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 40px;
  width: 40px;
  transition: width 0.3s ease;
}

.btn-search {
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 8px;
  left: 0;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn-search:focus,
.input-search:focus {
  outline: none;
}

.search.active .input-search {
  width: 230px;
  display: unset;
}

.search.active .btn-search {
  transform: translateX(198px);
}
