.contact-form {
  @include flex-center;
  flex-direction: column;

  width: 30vw;
  min-width: 350px;
  height: 60vh;
  margin: 50px auto;
  border: 1px solid black;
  border-radius: 8px;
  position: relative;
  padding: 25px;

  @media (max-width: 600px) {
    padding: 5px;
    width: 350px;
  }
}

.contact-title {
  position: absolute;
  top: -25px;
  left: 5px;
}

.contact-form input {
  width: 75%;
  font-family: "Montserrat", sans-serif;
  ::placeholder {
    font-family: "Montserrat", sans-serif;
  }
}

.contact-elem {
  display: flex;
  align-items: flex-start;
}

.contact-flex {
  margin: auto;
}

.contact-textarea {
  border: 2px solid black;
  resize: none;
  color: black;
  border-radius: 5px;
  padding: 8px;
  margin-left: 8px;
  font-family: "Montserrat", sans-serif;
  height: 100px;
  width: 300px;

  ::placeholder {
    color: black;
    font-family: "Montserrat", sans-serif;
  }

  @media (max-width: 600px) {
    width: 275px;
  }
}

.contact-send {
  cursor: pointer;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  margin-left: 8px;
  padding: 8px;
  &:active {
    color: white;
    background: black;
  }
  &:hover {
    background: black;
    color: white;
  }
}

.contact-success {
  font-size: 2rem;
}
